html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("404Spotify.png");
    background-size: cover;      /* klíčová vlastnost */
    background-position: center;
    background-repeat: no-repeat;
}
