/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CELÁ OBRAZOVKA */
html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

/* OBRÁZEK – NEDEFORMUJE, NEŘEŽE */
#bg {
  position: fixed;
  inset: 0;

  width: 80vw;
  height: 80vh;

  object-fit: contain;     /* KLÍČOVÉ */
  object-position: center;

  background: black;
}
